.all {
  height: auto;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  padding: 1rem;
  z-index: 50;
}

.title {
  text-align: center;
}