.all {
  height: auto;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  padding: 1rem;
}

.title {
  text-align: center;
  font-family: Garamond, serif;
}

.script {
  font-family: "Lucida Handwriting", cursive;
}