div {
    color: white;
}

button {
    color: white;
    background-color: rgb(166, 105, 219);
    font-family: Garamond, serif;
}

.poem-container {
    height: auto;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 50;
    position: relative;
}

.contents {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 50;
    position: relative;
  }
  
  .quill {
    width: 120px;
    height: 100px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }